header,
footer {
  height: 60px;
  width: 100%;
  line-height: 60px;
}

nav li{
    display: inline;
    margin-right: 12px;
  }

  footer li{
    display: inline;
    margin-right: 12px;
  }

  section li{
    display: inline;
    margin-right: 12px;
  }

  img {
    height: 200px;
    width: 200px;
  }