
img {
    height: 200px;
    width: 200px;
}

.section li {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    border: 10px;
    display: block;

}
.header li {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    display: inline;
    
}

.footer li {
    padding-bottom: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    display: inline;
    font-weight: bold;
}

.section ul {
    width: 600px;
    height: 600px;
    text-align: center;
    border: 15px solid black;
    margin: auto;
    display: block;
}


header {
    display: inline;
    margin-top: 0px;
    margin-right: 0px;
}

footer {
    display: inline;
    margin-bottom: 0px;
    margin-right: 0px;
}

header {
font-size: 25px;
font-weight: bolder;
}

header {
    font-size: 25px;
    font-weight: bolder;
    }

header {
    font-size: 25px;
    font-weight: bolder;
    }

.section-title {
    padding-bottom: 15px;
    margin-right: 20px;
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.footer-title {
    padding-bottom: 15px;
    margin-right: 20px;
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.footer ul {
    padding-bottom: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    display: inline;
    font-weight: bold;
}

.header ul {padding-top: 15px;
margin-right: 20px;
float: right;
font-size: 20px;
display: inline;
}