:root {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
display: flex;
justify-content: flex-end;
background-color: aqua;
color: black;
}

header nav {
justify-content: flex-end;
padding-top: 15px;
margin-right: 20px;
float: right;
font-size: 20px;
}

figure {
display: flex;
justify-content: center;
align-items: center;
background-size: cover;
background-position: center;
}

div h3, section h3, footer h3 {
  font-size: 30px;
}

section p {
  width: 40%;
}

#about-me-h3 {
  border-right: 5px solid black;
  padding: 10px;
}

header nav ul {
list-style: none;
}

header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

img {
  height: 200px;
  width: 300px;
  flex-wrap: wrap;
  padding: 15px;
}

section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

article {
  display: flex;
}

article img {
  align-items: first baseline;
  width: 50%;
  height: 250px;
  width: 350px;
  margin-left: 250px;
  margin-right: 500px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 350px;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: aqua;
  color: black;
}

footer nav {
  justify-content: flex-end;
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

footer nav ul {
  list-style: none;
}

footer nav ul li {
  display: inline-block;
  margin-left: 25px;
}